<h1>New Project</h1>
{{#if errors.length}}
    <p>Could not create the project because:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="" method="POST" id="all-forms">
    <div>
        Name: <input type="text" name="name" value="{{name}}">
    </div>
    <div>
        Date: <input type="date" name="date" value="{{date}}">
    </div>
    <div>
        Content: <input type="text" name="content" value="{{content}}">
    </div>
    <div>
        Link: <input type="text" name="link" value="{{link}}">
    </div>
    <input type="submit" value="Create project" id="submit-button">
</form>
