{{#if isLoggedIn}}
<h1>Guest</h1>

{{#if guest}}
    <a href="/guest-delete/{{guest.id}}" class="btn">Delete Guest</a>

    <p>{{guest.firstname}} {{guest.lastname}}</p>
    <p>Email: {{guest.email}}</p>
    <p>Message: {{guest.message}}</p>

{{else}}
<p>That client does not exist.</p>
{{/if}}
{{/if}}

{{#unless isLoggedIn}}
<div style="position:relative; text-align:center;">
    <h1>You have to log in!</h1>
    <a href="/login">
       <input type="submit" value="LOGIN" class="button">
    </a>
</div>
{{/unless}}