<h1>Clients who have contacted you.</h1>
{{#if dbError}}
    <p>Cannot display the page now, try again later.</p>

{{else}}

<div>
    <h2>You have ... messages.</h2>
</div>

{{#if messages.length}}

    <ul>
        {{#each messages}}
        <li><a href="/message/{{id}}">{{firstname}} {{lastname}}</a></li>
        {{/each}}
    </ul>

{{else}}

<p>No one has contacted!</p>

{{/if}}

{{/if}}


