{{#if isLoggedIn}}
<h1>Messages</h1>
{{#if dbError}}
    <p>Cannot display the page now, try again later.</p>

{{else}}

<div>
    <h2>You have no new messages!</h2>
</div>

{{#if messages.length}}
<div>
    <h2>You have new messages!</h2>
</div>

    <ul>
        {{#each messages}}
        <li><a href="/message/{{id}}">{{firstname}} {{lastname}}</a></li>
        {{/each}}
    </ul>

{{else}}

{{/if}}

{{/if}}

{{/if}}

{{#unless isLoggedIn}}
<div style="position:relative; text-align:center;">
    <h1>You have to log in!</h1>
    <button onclick="window.location.href='/login'" class="button button-1" type="button">LOGIN</button>
</div>
{{/unless}}