<h1>Projects</h1>
{{#if dbError}}
    <p>Cannot display the page now, try again later.</p>

{{else}}

<div>
    <h2>Create new project?</h2>
    <button onclick="window.location.href='/create-project'" class="button button-1" type="button">CREATE</button>
</div>

{{#if projects.length}}

    <ul>
        {{#each projects}}
        <li><a href="/projects/{{id}}">{{name}}</a> ({{date}})</li>
        {{/each}}
    </ul>

{{else}}

<p>No projects have been posted yet!</p>

{{/if}}

{{/if}}


